:root{
	--color-main: #ff1744;
	--color-main-light: #ff616f;
	--color-main-dark: #c4001d;

	--color-red: #f44336;
	--color-red-light: #ff7961;
	--color-red-dark: #ba000d;

	--color-green: #4caf50;
	--color-green-light: #80e27e;
	--color-green-dark: #087f23;

	--color-gray: #bdbdbd;
	--color-gray-light: #efefef;
	--color-gray-dark: #8d8d8d;
	--color-gray-alternative: rgba(189, 189, 189, .5);

	--color-black: #212121;
	--color-black-ligth: #484848;
	--color-black-dark: #000000;

	--color-yellow: rgb(251, 192, 45);
}
*{
	box-sizing: border-box !important;
}
*::-webkit-scrollbar{
	display: none;
}
body{
	margin: 0;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	-webkit-user-select: none;
	user-select: none;
	background-color: var(--color-gray-light);
	color: var(--color-black);
}
input, select{
	font-size: 1em !important;
	padding: 8px;
	border: 1.75px solid var(--color-gray);
	background-color: #fff;
}
input{
	height: 48px;
	outline: none;
}
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: inner-spin-button !important;
    opacity: 1;
}
input:focus, select:focus{
	border-color: var(--color-main-dark);
	border-width: 1.75px;
}
label{
	display: inline-flex;
	flex-direction: column;
}
label span{
	font-size: 12px !important;
	color: var(--color-gray-dark) !important;
}
select:focus{
	outline: none;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5{
	font-weight: 500;
}
h1, h2{
	font-size: 16px !important;
	font-weight: bold;
}
h3, h4{
	font-size: 14px !important;
	font-weight: bold;
}
hr{
	border-radius: 0 0 0 0 !important;
}
/*navigation*/
nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	background-color: var(--color-main);
	padding: 1em 0 0 0;
	box-shadow: 0 0 8px var(--color-gray);
}
nav > ul{
	width: 100%
	padding: 0;
	margin: 8px;
	display: flex; /*caution!*/
}
nav > ul > *{
	padding: 8px 16px;
	/*margin: 0 8px 0 0;*/
	display: inline-block;
	background-color: white;
	color: black;
	height: 48px;
	text-align: center;
	line-height: 2em;
}
nav .category{
	overflow-y: hidden;
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	padding-right: 16px;
	font-size: 14px;
}
nav .category > *{
	background-color: var(--color-main-light);
	margin-right: 0;
	height: auto;
	line-height: 14px;
	border-radius: 5px;
}
.icon{
	height: 1em;
	width: 1em;
	color: inherit;
	background-color: transparent;
	border-radius: 50%;

	display: flex;
	align-items: center !important;
	justify-content: center !important;
	text-align: center !important;
	position: relative;
}
.icon-48{
	height: 48px !important;
	width: 48px !important;
}
.icon-32{
	height: 32px !important;
	width: 32px !important;
}
.icon-16{
	height: 16px !important;
	width: 16px !important;
}
.icon-14{
	height: 14px !important;
	width: 14px !important;
}
.icon-12{
	height: 12px !important;
	width: 12px !important;
}
.icon:hover{
	background-color: rgba(0,0,0,.1);
}
/*search*/
#searchwrap{
	padding: 0;
	display: flex;
	height: 48px;
	width: 100%;
	background-color: transparent;
	outline: 1px solid var(--color-black);
	flex: 3;
}
#searchwrap form{
	width: 100%;
	display: flex;
}
#searchwrap form *{
	background-color: transparent;
	border: none;
}
#searchwrap form input{
	width: 100%;
}
#searchwrap form button{
	width: 48px;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*back button*/
#searchwrap form button:nth-child(1){
	display: none;
}
#searchwrap input:focus{
	height: 48px;
}
#searchwrap input::placeholder{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: var(--color-black-ligth);
}
#search-content{
	display: none;
	position: absolute;
	text-align: left;
}
#search-content ul{
	margin: 0;
	padding: 16px 0;
}
#search-content > ul li{
	padding: 0 16px !important;
}
#searchHis{
	display: block;
	color: #8d8d8d !important;
}
#searchSug{
	display: none;
}
#cart-indicator{
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color: var(--color-gray-dark);
	font-size: 10px;
	/*centering*/
	line-height: 20px;
	font-family: cursive;
}
/*shadow effect*/
.shadow{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.9);
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 100;
	border-radius: 0;
}
/*active effect*/
#searchwrap.active, #searchwrap .active{
	background-color: white !important;
	z-index: 101;
	display: block;
}
.category .active{
	background-color: var(--color-main-dark) !important;
	color: #fff;
}
.active input::placeholder{
	color: #8d8d8d;
}
/*sidebar*/
#sidenav{
	position: fixed;
	top: 0;
	left: -70vw;
	width: 70vw;
	min-height: 100vh;
	z-index: 101;
	overflow-x: hidden;
	background-color: #edf0f2;
	color: black;
	padding: 1em 1em 1em 2em;
	transition: left .2s;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	overflow-y: scroll;
}
#sidenav::-webkit-scrollbar{
	width: 3px;
	height: 100%;
	background-color: transparent;
}
#sidenav::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,.7);
}
#logo{
	display: flex;
	align-items: center;
	font-family: 'Poiret One', cursive;
	max-height: 48px;
}
#logo img{
	width: 1.5em;
	height: 1.5em;
	margin-right: 1em;
}
#logo h2{
	font-size: 1.5em !important;
	font-weight: bolder;
}
#sidenav a{
	display: block;
	padding: .75em 0;
	margin: 0;
	text-decoration: none;
}
#sidenav a > i{
	width: 1em;
}
#sidenav .close{
	position: fixed;
	top: 8%;
	left: 85%;
	transform: translate(-50%, -50%);
	display: none;
	color: #ffffff;
}
#sidenav a i.fa{
	margin-right: 1em;
}
/*content*/
.content{
	padding: 8px;
	margin-top: 134px;
}
.content-full{
	padding: 8px !important;
	margin: 0 !important;
}
.content h1,.content  h2,.content  h3,.content  h4,.content  h5,.content  p{
	margin: 0;
	padding: 0;
}
.items{
	margin: 0 -8px 8px -8px;
	padding: 8px;
	font-size: 14px;
	background-color: #ffffff;

	display: flex;
	flex-direction: row;
	align-items: center;
}
.items:-webkit-scrollbar{
	display: none;
}
.items-header{
	padding: 0 8px;
	font-size: 14px;
	background-color: #ffffff;
	margin: 0 -8px 0 -8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	font-weight: bolder;
}
/*right side icon etc*/
.items-header > *:nth-child(2){
	color: #bdbdbd;
	font-weight: lighter;
}
.items-row{
	overflow-y: hidden;
	overflow-x: auto !important;
	white-space: nowrap;
}
.items-col{
	overflow-y: auto !important;
	overflow-x: hidden;
	white-space: nowrap;
	flex-wrap: wrap;
	/* align-items: center; */
	justify-content: center;
}
.items-row::-webkit-scrollbar{
	display: none;
}
.items img{
	width: 100% !important;
	height: 144px;
	object-fit: cover;
	border-radius: 3px 3px 0 0;
}
.promo{
	font-size: 10px;
	padding: 4px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-gray-dark);
	margin: 0 0 0 8px;
	color: #fff;
}
.items .promo{
	border-radius: 0 3px 0 5px;
	position: absolute;
	color: var(--color-black);
	background-color: #fff;
	right: 0;
	top: 0;
}
.timer{
	font-weight: 500;
	margin: 0 8px;
	font-size: 1em;
	color: #8d8d8d;
	font-size: 14px;
}
/* an item = .items > * > *{} */
.items > * > *{
	padding: 0;
	margin: 0 12px 12px 0;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	background-color: #ffffff;
	box-shadow: 0 0 8px var(--color-gray);
	border-radius: 3px;
}
.items > * > * *{
	padding: 0;
	margin: 0;
}
/*Product name, price etc*/
.items > * > * > ul{
	display: flex;
	height: 100%;
}
.items > * > * > ul > li{
	padding: 0 4px 4px 4px;
	display: flex;
	flex: 1 1 auto;
	min-width: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.items > * > * > ul > li:first-child{
	padding: 4px !important;
}
.items > * > * > ul > li > h4{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*product name*/
.items > * > * > ul > li:nth-child(1){
	text-align: left;
	max-height: 2em;
}
/*product rating*/
.items > * > * > ul > li:nth-child(3){
	color: #8d8d8d;
	justify-content: space-between !important;
	align-items: center;
	font-size: 12px;
}
.landscape > * > *{
	width: 288px;
	min-height: 192px;
}
.landscape > * > * > ul{
	align-items: center;
}
.landscape > * > * > ul > li:nth-child(3){
	display: flex !important;
	flex-direction: column !important;
}
.portrait > * > *{
	width: 144px;
	/*min-height: 240px;*/
}
.portrait > * > * > ul{
	flex-direction: column;
}
.price{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	text-align: left;
	height: 42px;
}
.price > *{
	padding: 2px 0 !important;
}
/*disc = discount{amounts, price before}*/
.price > .disc *{
	padding: 2px !important;
	font-size: 12px !important;
	color: var(--color-black-ligth);
}
/*amount*/
.price > .disc > *:nth-child(1){
	background-color: var(--color-green-light);
	border-radius: 3px;
}
/*price before*/
.price > .disc > *:nth-child(2){
	text-decoration: line-through;
	color: var(--color-gray-dark)
}
/*actual price*/
.price > *:nth-child(2){
	font-weight: bolder ;
	color: var(--color-green-dark);
}
/*form*/
.form-group{
	padding: 0 8px !important;
}
.form-group > *{
	margin: 0 0 8px 0;
}
.form-group > *:first-child{
	margin: 8px 0;
}
.form-group > input{
	width: 100%;
}
.form-group input[type="checkbox"]{
	width: 1em;
	height: 1em;
}
/*button*/
.btn{
	font-size: 14px;
	padding: 8px 12px;
	margin: 0 4px 0 0;
	border-radius: 5px;
	background-color: var(--color-gray);
	border: 1.75px solid transparent;
	min-height: 48px;
	min-width: 48px;
	color: #000;
	position: relative !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 3px var(--color-gray-light);
}
.btn:after{
	content: "";
	border-radius: 50%;
	width: 0;
	height: 0;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,.5);
	opacity: 0;
	transition: all .1s;
}
.btn:active:after{
	border-radius: inherit;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	opacity: .75;
}
.btn:focus{
	outline: none;
}
.btn > i.fa:nth-child(2), .btn > a:nth-child(2){
	margin-left: 4px;
}
.btn-32{
	min-height: 32px !important;
}
.btn-bot{
	width: 100%;
	background-color: transparent;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	color: var(--color-black-ligth);
	border-radius: 0 0 5px 5px !important;
	box-shadow: 0 0 0 transparent;
}
.btn-bot > *{
	padding: 16px !important;
	height: 48px !important;
	min-width: 48px !important;
}
.btn-top{
	width: 100%;
	background-color: transparent;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	justify-content: space-between;
	font-size: 16px;
	color: var(--color-black-ligth);
	border-radius: 5px 5px 0 0 !important;
	box-shadow: 0 0 0 transparent;
}
.btn-top > *{
	padding: 16px !important;
	min-height: 48px !important;
	min-width: 48px !important;
}
.btn-top > *:nth-child(1){
	font-weight: bolder;
}
.btn-top i.fa:first-child, .btn-bot i.fa:first-child{
	margin-left: 0 !important;
}
.btn-green{
	background-color: var(--color-main-dark);
	color: #fff;
}
.btn-green-outer{
	background-color: #fff;
	border-color: var(--color-main-dark);
	color: var(--color-main-dark)
}
.btn-red{
	background-color: var(--color-red);
	color: #fff;
}
.btn-red-outer{
	background-color: transparent;
	border-color: var(--color-red);
}
.btn img{
	max-width: 24px;
	max-height: 24px;
	margin-right: 16px;
}
.btn.inactive{
	border-color: var(--color-gray);
	background-color: var(--color-gray-light);
	color: var(--color-gray-dark) !important;
}
.btn.inactive::after{
	content: "";
	display: none;
}
.inactive::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: var(--color-gray-light);
	opacity: .5;
}
/*font*/
.normal{
	font-size: 16px;
}
.small{
	font-size: 12px;
}
.big{
	font-size: 18px;
}
.low{
	color: #8d8d8d !important;
	font-weight: normal !important;
}
.gentle{
	color: rgba(33,33,33,1);
}
.bold{
	font-weight: bold;
}
.center{
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
}
.right{
	justify-content: flex-end !important;
	align-items: flex-end !important;
	text-align: right !important;
}
.left{
	justify-content: flex-start !important;
	align-items: flex-start !important;
	text-align: left !important;
}
.link{
	color: blue !important;
}
/*items (img, text) column-list representation*/
.list-item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 14px;
	border: 1px solid;
	border-color: var(--color-gray-light);
	min-height: 48px;

	/*thanks to css-tricks, should add fixed width into parents*/
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*wrapper items components (there are 2)*/
.list-item > *{
	display: flex;
	align-items: center;
}
/*first column*/
.list-item > *:nth-child(1){
	flex: 1 0 90%;
}
/*image*/
.list-item > *:nth-child(1) > *:nth-child(1){
	width: 80px !important;
	max-height: 80px !important;
	padding: 4px;
}
/*main text*/
.list-item > *:nth-child(1) > *:nth-child(2){
	display: flex;
	flex-direction: column;
	padding: 0 4px;
}
/*second column - icon/action*/
.list-item > *:nth-child(2){
	flex: 1 0 10%;
	justify-content: center;
	align-self: center;
	min-width: 32px;
	max-width: 48px;
}
/*every element inside child's wrapper*/
.list-item > * > *{
	padding: 4px 0;
}
.list-item > * > *:first-child{
	padding: 0 0 4px 0;
}
.list-item > * > * > *{
	/*thanks to css-tricks (cont)*/
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pulldown{
	flex-basis: 100%;
	min-height: 48px;
	background-color: var(--color-gray-light);

	display: none;
	flex-direction: row;
}
.pulldown > *{
	flex-basis: auto;
}
.pulldown input, .pulldown select{
	width: auto;
	height: auto;
	border-radius: 0 !important;
}
#product-color-input > *{
	color: white;
}
#product-color-input *[value="Red"]{
	background-color: red;
}
#product-color-input *[value="Silver"]{
	background-color: silver;
}
#product-color-input *[value="Black"]{
	background-color: black;
}
#product-color-input *[value="Gold"]{
	background-color: gold;
}
#product-color-input *[value="Blue"]{
	background-color: blue;
}
#product-color-input *[value="Gray"]{
	background-color: gray;
}
#product-color-input *[value="Brown"]{
	background-color: brown;
}
.dropdown{
	position: relative;
}
.dropdown > *:first-child{
	overflow: hidden;
}
.dropdown .dropdown-content{
	position: absolute;
	right: 8px;
	top: calc(100% + 8px);
	background-color: white;
	box-shadow: 0 0 8px var(--color-gray);
	display: none;
	flex-direction: column;
	z-index: 1;
	font-size: 14px !important;
	min-width: 144px;
}
.dropdown .dropdown-content > *{
	padding: 8px 16px !important;
}
.address{
	background-color: #edf0f2;
	margin: 8px;
	padding: 8px;
	border-radius: 5px;
}
input[name="promocode"]{
	border: 2px dashed var(--color-gray);
}
.nav-bot{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 16px;
	margin: 0 !important;
	background-color: #ffffff;
	box-shadow: 0 0 8px var(--color-gray);
	z-index: 2;
}
.bg-transparent{
	background-color: transparent !important;
}
.bg-main{
	background-color: var(--color-main) !important;
	color: #000;
}
.bg-main-dark{
	background-color: var(--color-main-dark) !important;
	color: #fff;
}
.main{
	color: var(--color-main) !important;
}
.main-dark{
	color: var(--color-main-dark) !important;
}
.bg-green{
	background-color: var(--color-green) !important;
}
.bg-green{
	background-color: var(--color-green-dark) !important;
}
.green{
	color: var(--color-green) !important;
}
.green-dark{
	color: var(--color-green-dark) !important;
}
.bg-red{
	background-color: var(--color-red) !important;
}
.bg-red-dark{
	background-color: var(--color-red-dark) !important;
}
.red{
	color: var(--color-red) !important;
}
.red-dark{
	color: var(--color-red-dark) !important;
}
.bg-gray{
	background-color: var(--color-gray) !important;
}
.bg-gray-dark{
	background-color: var(--color-gray-dark) !important;
}
.gray{
	color: var(--color-gray) !important;
}
.gray-dark{
	color: var(--color-gray-dark) !important;
}
.square-24{
	width: 24px !important;
	height: 24px !important;
	object-fit: contain !important;
}
.square-32{
	width: 32px !important;
	height: 32px !important;
	object-fit: contain !important;
}
.square-48{
	width: 48px !important;
	height: 48px !important;
	object-fit: contain !important;
}
.list-item .sign{
	visibility: hidden;
	color: var(--color-main-dark);
}
.timeline{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.timeline > *{
	flex: 1;
	min-height: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}
.timeline > * > *{
	padding: 8px 0;
}
.timeline > * > *:nth-child(3){
	color: var(--color-gray);
}
/*tl is line-bullet-line*/
.tl{
	width: 100%;
	height: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.tl > *{
	/*position: absolute;*/
	flex-shrink: 0;
}
/*1st line*/
.tl > *:nth-child(1){
	width: calc(50% - 6px);
	height: 2px;
	background-color: var(--color-gray);
}
/*mid bullet*/
.tl > *:nth-child(2){
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: var(--color-gray);
}
/*2nd line*/
.tl > *:nth-child(3){
	width: calc(50% - 6px);
	height: 2px;
	background-color: var(--color-gray);
}
.reverse-row{
	flex-direction: row-reverse;
}
.reverse-col{
	flex-direction: column-reverse;
}
.advance-search{
	display: flex;
	flex-direction: row !important;
	margin-bottom: 8px;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
}
.wrapper{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 0 8px 0;
	position: relative;
	background-color: white;
	box-shadow: 0 0 8px var(--color-gray);
	font-size: 14px;
	border-radius: 3px;
}
.wrapper header{
	padding: 16px !important;
	font-size: 14px !important;
	font-weight: bolder;
}
.wrapper img{
	width: 100%;
	object-fit: cover;
}
.full-width > *{
	width: 100% !important;
}
.detail{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.detail img{
	max-height: 180px;
}
.detail > *{
	width: 100%;
}
/*kolom 1 - thumb*/
.detail > *:nth-child(1){
	width: 144px;
	background-color: #edf0f2;
}
/*kolom 2 - details*/
.detail > *:nth-child(2){
	padding: 0 8px;
	width: calc(100% - 144px);
}
.detail > *:nth-child(2) > *{
	flex-direction: column;
}
.detail > *:nth-child(2) > * > *{
	padding-bottom: 4px !important;
}
.detail > *:nth-child(2) > * > *:first-child{
	padding-top: 4px !important;
}
/*further information*/
.detail > *:nth-child(3){
	padding: 4px;
	display: none;
}
/*some special adjustment*/
/*to positive margin for items*/
.detail .items{
	margin: 0 !important;
}
/*sparse span (sspan)*/
.sspan{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	font-size: 12px;
	color: var(--color-gray-dark);
	padding: 2px 0;
}
.sspan > *{
	margin-right: 8px;
}
/*specification*/
.spec{
	flex-direction: column;
}
.thumb-view{
	display: flex;
	flex-direction: row;
}
.thumb-view > *{
	background-color: var(--color-gray-light);
	border-radius: 3px;
	text-align: center;
	padding: 8px;
	margin: 4px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.thumb-view > * > *{
	padding-bottom: 2px;
}
.thumb-view > * > span:nth-child(2){
	font-size: 12px;
}
.thumb-view > * > span:nth-child(3){
	font-weight: bolder;
	padding-top: 4px !important;
}
/*detailed spec*/
.spec > *:nth-child(3){
	padding: 0 4px !important;
	display: none;
}
.spec > *:nth-child(3) > ul > li > ul{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: 4px !important;
	border-bottom: 1px solid #efefef;
	font-size: 14px;
}
.spec > *:nth-child(3) > ul > li > ul > li:nth-child(1){
	color: #8d8d8d;
	flex: 1;
}
.spec > *:nth-child(3) > ul > li > ul > li:nth-child(2){
	flex: 2;
}
/*spacing wrapper*/
.formal-column{
	padding: 0 8px !important;
}
.formal-column > *{
	margin-top: 8px;
	margin-bottom: 8px;
}
.formal-column > *:first-child{
	margin-top: 8px;
	margin-bottom: 0;
}
/*if theris a single child*/
.formal-column > *:last-child{
	margin-top: 8px;
	margin-bottom: 8px;
}
.formal-row{
	padding: 8px 0 !important;
}
.formal-row > *{
	margin-left: 8px;
	margin-right: 8px;
}
.formal-row > *:first-child{
	margin-left: 8px;
	margin-right: 0;
}
/*if theris a single child*/
.formal-row > *:last-child{
	margin-left: 8px;
	margin-right: 8px;
}
/*rating and review (rr)*/
.rr{
	display: flex;
}
.rr .toko{
	background-color: #efefef;
	padding: 2px !important;
	border-radius: 3px;
}
.rr-head{
	flex-direction: row;
	justify-content: center;
}
.rr-head > li{
	padding: 8px;
}
.rr-head > li:nth-child(1){
	font-size: 3em;
}
.rr-head > li:nth-child(2) > ul{
	display: flex;
	flex-direction: column;
	font-size: 12px;
}
.rr-head > li:nth-child(2) > ul > li{
	padding: 4px 0;
	text-align: center;
}
.rr-head > li:nth-child(2) > ul > li:nth-child(1){
	color: rgb(251, 192, 45);
	display: inline-block;
}
.rr-head > li:nth-child(2) > ul > li:nth-child(2), .rr-head > li:nth-child(2) > ul > li:nth-child(3){
	padding: 0 4px;
}
.rr-head > li:nth-child(3){
	font-size: 10px;
}
.rr-head > li:nth-child(3) > ul > li{
	padding: 0;
}
.rr-head > li:nth-child(3) > ul > li > ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.rr-head > li:nth-child(3) > ul > li > ul > li{
	margin-right: 4px;
}
.rr-head > li:nth-child(3) > ul > li > ul > li:nth-child(2){
	color: rgb(251, 192, 45);
}
.bar{
	height: 10px;
	width: 90px;
}
.bar-5{
	height: inherit;
	width: 100% !important;
	background-color: #087f23;
}
.bar-4{
	height: inherit;
	width: 75% !important;
	background-color: #4caf50;
}
.bar-3{
	height: inherit;
	width: 50% !important;
	background-color: orange;
}
.bar-2{
	height: inherit;
	width: 25% !important;
	background-color: rgb(251, 192, 45);
}
.bar-1{
	height: inherit;
	width: 1% !important;
	background-color: #f44335;
}
.rr-body{
	flex-direction: column;
	padding: 0 8px;
}
.rr-body > li{
	margin: 0 0 8px 0;
}
.rr-body > li:nth-child(odd){
	background-color: var(--color-gray-light);
}
.rr-body > li:first-child{
	margin: 8px 0;
}
.rr-body > li > ul{
	display: flex;
	flex-direction: column;
}
.rr-body > li > ul > li{
	display: flex;
	align-items: center;
	padding: 4px 0;
}
.rr-body > li > ul > li:nth-child(1) > span{
	flex: 1 1 auto;
	font-size: 14px;
}
/*date*/
.rr-body > li > ul > li:nth-child(1) > span:nth-child(3){
	font-size: 12px;
	color: #8d8d8d;
}
/*comments*/
.rr-body > li > ul > li:nth-child(2){
	font-size: 14px;
} 
.verified{
	color: #4caf50;
}
.popup{
	background-color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .2s;
}
.popup > li{
	padding: 0 0 8px 0;
	flex: 0 0 auto; 
}
/*image review on product*/
.popup .content-img{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100vw;
	height: calc(100vh - 48px - 16px);
	overflow-y: scroll;
	white-space: nowrap;
	position: relative;
}
.popup .content-img > *{
	margin: 0 16px 16px 0;
	/*centering*/
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 8px var(--color-gray);
}
.popup .content-img > * > img{
	object-fit: cover;
	/*3x4*/
	width: 144px;
	height: 192px;
}
/*content-items for: compare search,*/
.popup .content-item{
	height: calc(100vh - 48px);
	overflow-y: scroll;
	white-space: nowrap;
}
.popup .content-item .items{
	margin: 0;
}
/*comments*/
.com{
	display: flex;
}
.com > *{
	padding: 4px 0 !important;
	align-self: flex-start;
}
.com > img{
	width: 100px;
}
.com-rep{
	flex-direction: column;
	margin-left: 16px;
}
.com-rep > *:nth-child(1){
	flex-shrink: 1;
	align-self: flex-start;
}
.split-col{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
}
.split-col > *{
	flex: 1;
	max-width: 50vw;
}
.split-col > * .detail > *{
	width: 100% !important;
}
.split-col > * .detail > *:nth-child(2){
	margin-top: 8px;
}
.split-col > * .spec > *:nth-child(3) *{
	font-size: 14px !important;
}
.split-col > * .spec > *:nth-child(3) > ul{
	white-space: normal;
	overflow-x: hidden !important;
}
.split-col > * .detail, .split-col > * .thumb-view, .split-col > * .rr{
	flex-direction: column !important;
}
.split-col .rr-head{
	text-align: center;
}
.advance-search > *{
	display: flex;
	flex-direction: row;
}
.advance-search > *:nth-child(1){
	overflow-x: auto;
	white-space: nowrap;
}
.advance-search > *::-webkit-scrollbar{
	display: none;
}
.advance-search > *:nth-child(1) > *{
	margin-right: 3px;
	height: 32px;
	line-height: 1em;
	padding: 8px;
	border-radius: 5px;
}
.filter{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 16px;
}
/*there are 2 parts: title + options*/
.filter > *{
	padding: 8px 0;
	display: flex;
	flex-direction: column;
	width: inherit;
}
.filter > * > *{
	width: inherit;
}
.filter > * select{
	width: 100%;
	padding: 0;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #bdbdbd;
	flex-grow: 1;
	color: var(--color-gray);
}
.filter > * option{
	color: var(--color-black)
}
/*filter's title*/
.filter > * > *:nth-child(1){
	padding: 0 4px;
}
/*range slider*/
/*https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/*/
input[type=range]{
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}
input[type=range]:focus{
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track{
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: 0;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--color-red-dark);
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--color-red);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--color-red-light);
}
.filter .range-slider{
	display: flex;
	flex-direction: column;
}
/*inputslider*/
.filter .range-slider > *:nth-child(1){
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/*valueslider*/
.filter .range-slider > *:nth-child(2){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.filter .range-slider .input-range{
	padding: 0;
	margin: 0;
	border: 0;
}
.shrink{
	display: none !important;
	transition: all .2s ease-in-out;
}
.hidden{
	visibility: hidden;
}
.vanish{
	display: none !important;
}
.visible{
	visibility: visible !important;
	display: block !important;
}
.stars{
	color: var(--color-yellow) !important;
}
/*rating thumbnail*/
.main-rate{
	border-radius: 3px;
	padding: 2px !important;
	text-align: center;
	flex: 0 0 auto;
	background-color: var(--color-yellow);
	color: var(--color-black-ligth)
}
/*input search grouped linearly with button*/
.searchbar{
	width: 100%;
	display: flex;
}
.searchbar input, .searchbar button{
	border-radius: 0;
	margin: 0 !important;
}
.searchbar input[type="search"]{
	flex: 1 0 auto;
}
.list{
	display: flex;
	flex-direction: column;
}
.list > *{
	min-height: 32px;
	padding: 8px;
}
.list.bordered > *{
	border: 1px solid var(--color-gray);
}
.list.sparse > *{
	margin: 4px;
}
.google{
	background-color: #fff;
	color: #000;
	border: 1px solid #999;
}
.facebook{
	background-color: #3D5A98;
	color: #fff;
	border: 1px solid transparent;
}
/*animations*/
@keyframes zoom-in{
    from {transform: scale(1.5, 1.5);}
    to {transform: scale(1, 1);}
}
@keyframes zoom-out{
    from {transform: scale(0.5, 0.5);}
    to {transform: scale(1, 1);}
}
@keyframes slide-down{
	from {transform: translateY(-48px);}
	to {transform: translateY(0);}
}
@keyframes fade{
	from {opacity: 0;}
	to {opacity: 1;}
}
.ani-zoom-in{
	-webkit-animation: zoom-in .175s;
	animation: zoom-in .175s;
}
.ani-zoom-out{
	-webkit-animation: zoom-out .175s;
	animation: zoom-out .175s;
}
.ani-slide-down{
	-webkit-animation: slide-down .175s;
	animation: slide-down .175s;
}
.ani-fade{
	-webkit-animation: fade .175s;
	animation: fade .175s;
}