body{
	font-family: "Roboto";
	user-select: none;
	font-size: 16px;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em 0;
}
/*icon*/
.icon{
	height: 48px;
	width: 48px;
	font-size: 1.3em;
	background-color: inherit;
	color: inherit;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.icon:hover{
	background-color: rgba(255,255,255,.2);
}
nav .icon{
	background-color: rgba(150,150,150,.2);
}
/*cart*/
#emptyCart{
	font-size: 1.3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 50%);
}
#emptyCart p{
	margin-top: 0;
	color: rgba(0,0,0,.9);
}
#emptyCart img{
	width: 30%;
}