.wrapper{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 0 16px 0;
	background-color: white;
	box-shadow: 0 0 8px #bdbdbd;
	font-size: 14px;
	border-radius: 3px;
}
.wrapper header{
	padding: 0 16px !important;
	font-size: 14px !important;
}
.wrapper img{
	width: 100%;
	object-fit: cover;
}
.detail{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.detail img{
	max-height: 180px;
}
.detail > *{
	width: 100%;
}
/*kolom 1 - thumb*/
.detail > *:nth-child(1){
	width: 144px;
	background-color: #edf0f2;
}
/*kolom 2 - details*/
.detail > *:nth-child(2){
	padding: 0 4px;
	width: calc(100% - 144px);
}
.detail > *:nth-child(2) > *{
	flex-direction: column;
}
.detail > *:nth-child(2) > * > *{
	padding-bottom: 4px !important;
}
.detail > *:nth-child(3){
	padding: 4px;
	display: none;
}
/*sparse span*/
.sspan{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 12px;
	color: #8d8d8d;
}
.sspan > *{
	margin-right: 8px;
}
.spec{
	flex-direction: column;
}
.thumb-view{
	display: flex;
	flex-direction: row;
}
.thumb-view > *{
	background-color: #efefef;
	border: 1px solid #bdbdbd;
	border-radius: 3px;
	text-align: center;
	padding: 8px;
	margin: 4px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.thumb-view > * > *{
	padding-bottom: 2px;
}
.thumb-view > * > span:nth-child(2){
	font-size: 12px;
}
.thumb-view > * > span:nth-child(3){
	font-weight: bolder;
	padding-top: 4px !important;
}
/*detailed spec*/
.spec > *:nth-child(3){
	padding: 0 4px !important;
	display: none;
}
.spec > *:nth-child(3) > ul > li > ul{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: 4px !important;
	border-bottom: 1px solid #efefef;
	font-size: 14px;
}
.spec > *:nth-child(3) > ul > li > ul > li:nth-child(1){
	color: #8d8d8d;
	flex: 1;
}
.spec > *:nth-child(3) > ul > li > ul > li:nth-child(2){
	flex: 2;
}
.formal-view > *{
	padding: 8px !important;
}
.rr{
	display: flex;
}
.rr .toko{
	background-color: #efefef;
	padding: 2px !important;
	border-radius: 3px;
}
.rr-head{
	flex-direction: row;
	justify-content: center;
}
.rr-head > li{
	padding: 8px;
}
.rr-head > li:nth-child(1){
	font-size: 3em;
}
.rr-head > li:nth-child(2) > ul{
	display: flex;
	flex-direction: column;
	font-size: 12px;
}
.rr-head > li:nth-child(2) > ul > li{
	padding: 4px 0;
	text-align: center;
}
.rr-head > li:nth-child(2) > ul > li:nth-child(1){
	color: rgb(251, 192, 45);
	display: inline-block;
}
.rr-head > li:nth-child(2) > ul > li:nth-child(2), .rr-head > li:nth-child(2) > ul > li:nth-child(3){
	padding: 0 4px;
}
.rr-head > li:nth-child(3){
	font-size: 10px;
}
.rr-head > li:nth-child(3) > ul > li{
	padding: 0;
}
.rr-head > li:nth-child(3) > ul > li > ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.rr-head > li:nth-child(3) > ul > li > ul > li{
	margin-right: 4px;
}
.rr-head > li:nth-child(3) > ul > li > ul > li:nth-child(2){
	color: rgb(251, 192, 45);
}
.bar{
	height: 10px;
	width: 90px;
}
.bar-5{
	height: inherit;
	width: 100% !important;
	background-color: #087f23;
}
.bar-4{
	height: inherit;
	width: 75% !important;
	background-color: #4caf50;
}
.bar-3{
	height: inherit;
	width: 50% !important;
	background-color: orange;
}
.bar-2{
	height: inherit;
	width: 25% !important;
	background-color: rgb(251, 192, 45);
}
.bar-1{
	height: inherit;
	width: 1% !important;
	background-color: #f44335;
}
.rr-body{
	flex-direction: column;
}
.rr-body > li{
	padding: 8px;
}
.rr-body > li > ul{
	display: flex;
	flex-direction: column;
}
.rr-body > li > ul > li{
	display: flex;
	align-items: center;
	padding: 4px 0;
}
.rr-body > li > ul > li:nth-child(1) > span{
	flex: 1 1 auto;
	font-size: 14px;
}
.rr-body > li > ul > li:nth-child(1) > span:nth-child(3){
	color: #8d8d8d;
}
.rr-body > li > ul > li:nth-child(2){
	font-size: 14px;
} 
.verified{
	color: #4caf50;
}
.stars{
	color: rgb(251, 192, 45)!important;
}
.main-rate{
	background-color: rgb(251, 192, 45);
	border-radius: 3px;
	padding: 2px !important;
	text-align: center;
	flex: 0 0 auto;
	color: #ffffff !important;
}
.popup{
	background-color: white;
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .2s;
}
.popup > li{
	padding: 8px 0;
}
/*image review on product*/
.popup .content-img{
	display: flex;
	flex-direction: row;
	padding: 8px 16px;
	flex-wrap: wrap;
	width: 100vw;
	height: calc(100vh - 48px);
	overflow-y: scroll;
	white-space: nowrap;
	position: relative;
}
.popup .content-img:-webkit-scrollbar{
	display: none;
}
.popup .content-img > li{
	margin: 0 16px 16px 0;
	/*centering*/
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 8px #bdbdbd;
}
.popup .content-img > li > img{
	object-fit: cover;
	/*3x4*/
	width: 144px;
	height: 192px;
}
/*content-items for: compare search,*/
.popup .content-item{
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	text-align: center;
}
.popup .content-item > *{
	padding: 8px 16px;
	width: 100% !important;
}
.slide-indicator > span{
	padding: 0 8px;
	color: white;
}
.com{
	display: flex;
}
.com > *{
	padding: 4px 0 !important;
	align-self: flex-start;
}
.com > img{
	width: 100px;
}
.com-rep{
	flex-direction: column;
	margin-left: 16px;
}
.com-rep > *:nth-child(1){
	flex-shrink: 1;
	align-self: flex-start;
}
.hidden{
	visibility: hidden;
}
.vanish{
	display: none !important;
}
.visible{
	visibility: visible !important;
	display: block !important;
}
.split-col{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 16px 0 0 0;
}
.split-col > *{
	flex: 1;
	max-width: 50vw;
}
.split-col > * .detail > *{
	width: 100% !important;
}
.split-col > * .detail > *:nth-child(2){
	margin-top: 8px;
}
.split-col > * .spec > *:nth-child(3) *{
	font-size: 14px !important;
}
.split-col > * .spec > *:nth-child(3) > ul{
	white-space: normal;
	overflow-x: hidden !important;
}
.split-col > * .detail, .split-col > * .thumb-view, .split-col > * .rr{
	flex-direction: column !important;
}
.split-col .rr-head{
	text-align: center;
}