
/*input range modifier*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/*start to styling*/
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #f44335;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0 0 2px #8d8d8d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 2px #8d8d8d; /* Add cool effects to your sliders! */
  border: 2px solid #f44335;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 0 0 2px #8d8d8d; /* Add cool effects to your sliders! */
  border: 2px solid #f44335;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #f44335;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f44335;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #f44335;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #f44335;
}

input[type=range]::-ms-fill-lower {
  background: #f44335;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f44335;
}
input[type=range]::-ms-fill-upper {
  background: #f44335;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f44335;
}